{% extends "base.html" %}
{% block content %}
<h2>Change Password</h2>
<form method="POST" action="{{ url_for('main.change_password') }}">
    <input type="password" name="old_password" placeholder="Old Password" class="form-control mb-2" required>
    <input type="password" name="new_password" placeholder="New Password" class="form-control mb-2" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control mb-2" required>
    <button type="submit" class="btn btn-warning">Change</button>
</form>
{% endblock %}
